<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        <h3>Enter name</h3>
        <input type="text" name="name" required/>

        <h3>Python</h3>
        <input type="number" name="Python" required/>

         <h3>MYSQL</h3>
        <input type="number" name="MYSQL" required/>

        <h3>HTML</h3>
        <input type="number" name="HTML" required/><br><br>

        <button>Submit</button>
                
                 
                        
    </form>
</body>
</html>